body{
    
    font-family: arial;
    width: 70vh;
    margin-left:30%;
    margin-right:50%;
    margin-top: 10%;
    }
    h3{
        color: green;
        
        
    }
    h4{
        color: silver;
   
       
    }
    h5{
        color: red;
        
     
    }
    h6{
        color: blue;
        
       
    }